.container
  .user-match-form-container
    .user-match-form-description
      %h1 DESCRIBE YOUR PERFECT MATCH
      %p To get started, fill out this questionnaire and we'll calculate which of your friends you're most connected with!
    .user-match-form
      = render 'form'