.matches-index-container
  .matches-content-container
    .perfect-match-container
      .header
        %h2 YOUR PERFECT MATCH
        = link_to "edit", edit_user_path(@user), class: 'edit-link'
      = render 'match_preferences', locals: @user

    
    .matches-list-container 
      - if @user.matches.any?
        = render partial: 'matches/index', locals: {matches: @user.matches}
      - else
        Loading your matches
:javascript
window.onload = function() {
  var userId = "#{@user.id}";
}

 